{{define "addcompanies"}}
	{{template "header"}}
		<div class="page_main">
			<!--面包导航-->
			<ol class="breadcrumb">
			  <li><a href="#">目前位置</a></li>
			  <li><a href="/user">用户管理</a></li>
			  <li class="active">添加公司</li>
			</ol>
		</div>
		<!-- 添加框 -->
		<div class="HB-addForm">
			<h4>添加公司</h4>
			<form>
			<table>
				<tr>
					<td>
						<span>公司名称</span>
						<input id="name" type="text" autofocus="autofocus" placeholder="请输入公司名称" required="required">
					</td>	 
					<td>
						<span>联系方式</span>
						<input id="phone" type="number" name="phone" placeholder="请输入联系方式">
					</td>	
				</tr>
				<tr>
					<td>
						<span>公司邮箱</span>
						<input id="email" type="email" name="email" placeholder="请输入公司邮箱">
					</td>	 
					<td>
						<span>管理人</span>
						<input id="manager" type="text" name="manager" placeholder="请输入管理人称呼">
					</td>	
				</tr>
			</table>
			<div class="HB-btn">
				<button type="button" id="sure" onclick="return check()" class="btn btn-primary">确定</button>	
				<a href="/companies"><button type="button" id="HB-off" class="btn btn-primary">取消</button></a>
			</div>
		</form>
		</div>
	</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>	
<script>
	/* 表单验证 */
	function check(){
		var name = $("#name").val();
		var trimName = $.trim(name);
		if(trimName == "") {
			alert("请填写公司名称");
			$("#name").focus();
			return false;
		}

		var phone = $("#phone").val();
		var trimPhone = $.trim(phone);
		if(trimPhone == ""){
			alert("请填写手机号");
			$("#phone").focus();
			return false;
		}

		var email = $("#email").val();
		var trimEmail = $.trim(email);
		if(trimEmail == ""){
			alert("请填写邮箱地址");
			$("#email").focus();
			return false;
		}

		var manager = $("#manager").val();
		var trimManager = $.trim(manager);
		if(trimManager == ""){
			alert("请填写车队长");
			$("#manager").focus();
			return false;
		}
	}

	/* 点击添加 */
	$('#sure').click(function() {
		$.ajax({
			type:"POST",
			url:"/handleaddcompies",
			data: {
				name: $('#name').val(),
				phone: $('#phone').val(),
				email: $('#email').val(),
				manager: $('#manager').val(),
			},
			success: function(data){
				if(data.statuscode == 0){
					$(location).attr('href','/companies');
				}
			}
		});	
	});
</script>
{{end}}