{{define "addreceivers"}}
	{{template "header"}}
		<div class="page_main">
			<!--面包导航-->
			<ol class="breadcrumb">
			  <li><a href="#">目前位置</a></li>
			  <li><a href="#">设备管理</a></li>
			  <li><a href="#">设备列表</a></li>
			  <li class="active">设备入库</li>
			</ol>
		</div>
		<!-- 添加弹窗 -->
		<div class="HB-addForm">
			<h4>设备入库</h4>
			<form>
			<table>
				<tr>
					<td>
						<span>公司名称</span>
						<select id="cid" name="cid">
						</select>
					</td>
					<td>
						<span>设备类别</span>
						<select id="type" name="type">
							<option value="1">小车</option>
							<option value="2">大车</option>
							<option value="3">挂车</option>
							<option value="4">车头</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<span>物联卡ID</span>
						<input id="cnum" type="text" name="cnum" placeholder="请输入物联卡ID">
					</td>	 
				</tr>
				<tr>
					<td colspan="2">
						<span>设备ID</span>
						<textarea id="rids" name="rids" required="required" autofocus="autofocus"></textarea>
					</td>	
				</tr>
			</table>
			<div class="HB-btn">
				<button type="button" id="sure" onclick="return check()" class="btn btn-primary">确定</button>	
				<a href="/receivers"><button type="button" id="off" class="btn btn-primary">取消</button></a>
			</div>
		</form>
		</div>
	</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script>
	/* 验证表单 */
	function check() {
		var type = $("#type").val();
		var trimType = $.trim(type);
		if(trimType == ""){
			alert("请选择车辆类型");
			$("#type").focus();
			return false;
		}

		var cid = $("#cid").val();
		var trimCid = $.trim(cid);
		if(trimCid == ""){
			alert("请选择公司");
			$("#cid").focus();
			return false;
		}

		var cnum = $("#cnum").val();
		var trimCnum = $.trim(cnum);
		if(trimCnum == ""){
			alert("请填写物联卡号！");
			$("#cnum").focus();
			return false;
		}

		var rids = $("#rids").val(); 
		var trimRids = $.trim(rids);
		if(rids == ""){
			alert("请输入设备ID!");
			$("#rids").focus();
			return false;
		}
	}

	/* 响应服务器数据 */
	$(function(){
		$.ajax({
			url: '/returnaddreceivers',
			dataType: 'json',
			success: function(data){
				var text = '';
				for(var i = 0;i < data.length;i ++){
					text += '<option value="1">'+data[i].name+'</option>';
				}
				$("#cid").html(text);
			}
		});
	})

	/* 点击添加 */
	$("#sure").click(function(){
		$.ajax({
			url: '/handleaddreceivers',
			type: 'POST',
			dataType: 'json',
			data: {
				cid: $("#cid").val(),
				rids: $("#rids").val(),
				cnum: $("#cnum").val(),
				type: $("#type").val(),
			},
			success: function(data){
				if(data.statuscode == 0){
					$(location).attr('href', '/receivers');
				}  
			}
		})
	});
</script>
{{end}}