{{define "addteams"}}
	{{template "header"}}
		<div class="page_main">
			<!--面包导航-->
			<ol class="breadcrumb">
			  <li>目前位置</li>
			  <li><a href="/user???">公司管理</a></li>
			  <li><a>车队管理</a></li>
			  <li class="active">添加车队</li>
			</ol>
		</div>
		<!-- 添加框 -->
		<div class="HB-addForm">
			<h4>添加车队</h4>
			<form>
			<table>
				<tr>
					<td>
						<span>车队名称</span>
						<input id="name" type="text" name="name" placeholder="请输入车队名称" required="required" autofocus="autofocus">
					</td>	 
					<td>
						<span>车队长</span>
						<input id="leader" type="text" name="leader" placeholder="请输入队长姓名">
					</td>	
				</tr>
			</table>
			<div class="HB-btn">
				<button type="button" id="sure" onclick="return check()" class="btn btn-primary">确定</button>	
				<a id="cancel" href="#"><button type="button" class="btn btn-primary">取消</button></a>
			</div>
		</form>
		</div>
	</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>	
<script>
	/* 验证表单 */
	function check(){
		var name = $("#name").val();
		var trimName = $.trim(name);
		if(trimName == "") {
			alert("请填写车队名称");
			$("#name").focus();
			return false;
		}

		var leader = $("#leader").val();
		var trimLeader = $.trim(leader);
		if(trimLeader == ""){
			alert("请填写队长名");
			$("#leader").focus();
			return false;
		}
	}

	/* 正册表达式 获取URL参数 */
	function getUrlParam(name){
		// ^ 开头, $ 结尾, [^] 除了, | 或者, * 全部, () 整体
		var reg = new RegExp("(^|&)"+name+"=([^&]*)(&|$)");
		// match() 字符串提取，返回数组，
		// 下标0 --> 全部文本内容 下标1 --> 第一个表达式文本  
		// substr() 从下标后的位置 开始提取字符串
		var r = window.location.search.substr(1).match(reg);
		if(r != null){
			return unescape(r[2]);
		}else{
			return null;
		}
	};
	var Scid = getUrlParam("cid");

	/* 点击添加 */
	$('#sure').click(function(){
		$.ajax({
			type:"POST",
			url:"/handleaddteams",
			data: {
				cid: Scid,
				name: $('#name').val(),
				leader: $('#leader').val(),
			},
			success: function(data){
				if(data.statuscode == 0){
					$(location).attr('href','/teams?cid='+Scid);
				}
			}
		});
	})
</script>
{{end}}