{{define "editteams"}}
	{{template "header"}}
		<div class="page_main">
			<!--面包导航-->
			<ol class="breadcrumb">
			  <li>目前位置</li>
			  <li><a href="/user">公司管理</a></li>
			  <li>车队管理</li>
			  <li class="active">编辑车队</li>
			</ol>
		</div>
		<!-- 添加框 -->
		<div class="HB-addForm">
			<h4>编辑车队</h4>
			<form>
			<table>
				<tr>
					<td>
						<span>车队名称</span>
						<input id="name" type="text" name="name" placeholder="请输入车队名称" required="required">
					</td>	 
					<td>
						<span>车队长</span>
						<input id="leader" type="text" name="leader" placeholder="请输入队长姓名">
					</td>	
				</tr>
			</table>
			<div class="HB-btn">
				<button type="button" id="sure" class="btn btn-primary">确定</button>	
				<a id="off" href="#"><button type="button" class="btn btn-primary">取消</button></a>
			</div>
		</form>
		</div>
	</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>	
<script>
	
</script>
<script type="text/javascript">
	/* 验证表单 */
	function check(){
		var name = $("#name").val();
		var trimName = $.trim(name);
		if(trimName == "") {
			alert("请填写车队名称");
			$("#name").focus();
			return false;
		}

		var leader = $("#leader").val();
		var trimLeader = $.trim(leader);
		if(trimLeader == ""){
			alert("请填写队长名");
			$("#leader").focus();
			return false;
		}
	}

	/* 获取URL参数 */
	function getUrlParam(name){
		var reg = new RegExp("(^|&)"+name+"=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if(reg != null){
			return unescape(r[2]);
		}else{
			return null;
		}
	}
	var Scid = getUrlParam('cid');
	var Stid = getUrlParam('tid');

	/* 响应服务器数据 */
	$(function(){
		$.ajax({
			url: '/returneditteamsdata',
			dataType: 'json',
			data: {
				tid: Stid,
			},
			success: function(data){
				var team = data.team;
				$("#name").val(team.name);
				$("#leader").val(team.leader);
				$("#off").attr('href','/teams?cid='+Scid);
			}
		});
	});

	/* 点击编辑 */
	$('#sure').click(function(){
		$.ajax({
			url: '/handleeditteams',
			type: 'post',
			dataType: 'json',
			data: {
				cid: Scid,
				tid: Stid,
				name: $('#name').val(),
				leader: $('#leader').val(),
			},
			success: function(data){
				if(data.statuscode == 0){
					$(location).attr('href','/teams?cid='+data.cid);
				}
			},
			error: function(XMLHttpRequest,textStatus,errorThrown){
				console.log(XMLHttpRequest);
				console.log(textStatus);
				console.log(errorThrown);
			},
			complete: function(){
				console.log("请求完成");
			}
		});
	})
</script>
{{end}}