{{define "teams"}}
	{{template "header"}}
		<div class="page_main">
			<!--面包导航-->
			<ol class="breadcrumb">
			  <li>现在位置</li>
			<li><a href="/companies">公司管理</a></li>
			  <li class="active">车队管理</li>
			</ol>
			<div class="row">
				<div id="add-btn">
			  		<a href="#"><button type="button" id="HB-addRece" class="btn btn-default col-md-12">添加车队</button></a>
				</div>
			</div>
			<div class="row" id="teams">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading"></div>
						<div class="panel-body">
							<table id="company" class="table table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th>序号</th>
										<th>公司名称</th>
										<th>管理人</th>
										<th>联系方式</th>
										<th>邮箱</th>
									</tr>
								</thead>
								<thbody>
									<tr>
										<td id="td1"></td>
										<td id="td2"></td>
										<td id="td3"></td>
										<td id="td4"></td>
										<td id="td5"></td>
									</tr>
								</thbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
	/* 删除提示 */
	function del(){
		if(!confirm("确认是否删除?")){
			window.event.returnValue = false;
		}
	}

	/* 获取URL参数 */
	function getUrlParam(name){
		var reg = new RegExp("(^|&)"+name+"=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if(r != null){
			return unescape(r[2]);
		}else{
			return null;
		}
	}
	var Scid = getUrlParam('cid');

	/* 响应服务器数据 */
	$(function(){
		$.ajax({
			url: '/returnteamsdata',
			type: 'GET',
			dataType: 'json',
			data: {
				cid: Scid,
			},
			success: function(data){
				$("#add-btn a").attr('href', '/addteams?cid='+data.cid);

				var company = data.company;
				$("#td1").text(company.cid);
				$("#td2").text(company.name);
				$("#td3").text(company.manager);
				$("#td4").text(company.phone);
				$("#td5").text(company.email);

				var teams = data.teams;
				var html = '';
				for(var i = 0;i < teams.length;i ++){
					html += '<div class="col-md-6">';
						html += '<div class="panel panel-default">';
							html += '<div class="panel-heading"></div>';
							html += '<div class="panel-body">';
								html += '<table class="table table-striped table-hover table-bordered">';
									html += '<thead>';
										html += '<tr>';
											html += '<th>上级车队序号</th>';
											html += '<th>车队名称</th>';
											html += '<th>车队长</th>';
											html += '<th>操作</th>';
										html += '</tr>';
									html += '</thead>';
									html += '<thbody>';
										html += '<tr>';
											html += '<td>'+teams[i].pid+'</td>';
											html += '<td>'+teams[i].name+'</td>';
											html += '<td>'+teams[i].leader+'</td>';
											html += '<td><a class="edit" href="/editteams?tid='+teams[i].id+'&cid='+data.cid+'">编辑</a><a onclick="return del()" href="/delteams?tid='+teams[i].id+'&cid='+data.cid+'">删除</a></td></td>';
										html += '</tr>';
									html += '</thbody>';
								html += '</table>';
							html += '</div>';
						html += '</div>'; 
					html += '</div>';
				};
				$("#teams").html(html);
			},
			error: function(XMLHttpRequest,textStatus,errorThrown){
				console.log(XMLHttpRequest);
				console.log(textStatus);
				console.log(errorThrown);
			},
			complete: function(){
				console.log("请求完成");
			}
		})
	})
</script>
{{end}}